@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-main2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-dark: rgb(8, 28, 21);
  --color-dark2: rgb(27, 67, 50);
  --color-dark3: rgb(45, 106, 79);
  --color-dark4: rgb(64, 145, 108);
  --color-mid: rgb(82, 183, 136);
  --color-lt: rgb(116, 198, 157);
  --color-lt2: rgb(149, 213, 178);
  --color-lt3: rgb(183, 228, 199);
  --color-lt4: rgb(216, 243, 220);

  /* New Pallet */
  --color-main: #243482;
  --color-lb: #3E4A99;
  --color-peach: #ffded3;
  --color-nav: #d4e0f8;
  /* Mobile */
  --color-main2: #26337C;
  --color-bnb: #3C4C9E;
}
